.head{
	position: relative;
	background:#009696;
	width: 100%;
	height: 120px;
	display: inline-block;	
	margin: auto;
	color: white;
}





#signup{
	margin-top: 200px;
	font-size: 20px;
	font-family: Arial;
	color:Gray;
	width: 400px;
	height: 800px;
	position: relative;
	display: inline-block;
	left:50%;
	margin-left: -200px;
}



